@media (min-width: 991px) and (max-width: 1199px) {
	#about .about-education {
		margin-left: 40px;
	}
	
	#about .about-section {
		margin-left: 95px;
	}
	
	#hobbies {
    	left: 50%;
    	transform: translateX(-50%) translateY(-50%);
		margin-top: 135px;
	}
}

@media (min-width: 460px) and (max-width: 991px) {
	#about .about-section {
		width: 50%;
    	margin-left: 25%;		
	}
	
	#about .about-education {
		width: 50%;
    	margin-left: 25%;
	}
	
	#main-header .header-caption h2 {
		font-size: 1.5em;
	}
	
	#main-header .header-caption h1 {
		font-size: 2.3em;
	}
}

@media (max-width: 750px) {
	#skills .skill h1, h2 {
		font-size: 1.3em;
	}
	
	#skills .coding {
		font-size: 0.9em;
	}
}

@media (max-width: 1199px) {
	#contact #formular {
		width: 350px;
		transform: translateX(100%);
		bottom: 200px;
	}
	
		#contact #send {
		bottom: 200px;
		float: right;
	}
	
	#slider {
		margin-left: 190px;
	}
}


@media (max-width: 991px) {
	#contact #data h2, p {
		font-size: 1em;
	}
	
	#contact .social-icons {
		font-size: 1.5em;
	}
	
	#contact #data {
		width: 310px;
	}
	
	#contact #formular {
		width: 350px;
		transform: translateX(60%);
		bottom: 200px;
	}
	
	#slider {
		margin-left: 85px;
	}
}

@media (max-width: 765px) {
	#contact {
		height: 1000px;
	}
	#contact #formular {
		transform: translateY(70%) translateX(6%);
	}
	
	#contact #data {
		transform: translateX(60%);
	}
	
	#contact #send {
		transform: translateX(-90%);
		bottom: -20px;
	}
}

@media (max-width: 720px) {
	#slider {
		margin-left: 50px;
	}
}


@media (max-width: 650px) {
	#contact .contact-section {
		transform: translateX(-15%);
	}
}

@media (max-width: 600px) {
	#contact #send {
		margin-right: auto;
	}
}