* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}

/* Section Nav Menu */

#main-nav {
	background-color: transparent;
	border: 0;
}

#main-nav a {
	color: #1D1D21;	
	font-size: 1.2em;
	text-transform: lowercase;
	transition: all .3s;
}

#main-nav a:hover {
	height: 40px;
	cursor: n-resize;
	opacity: 0.7;
	
}

#main-nav.scroll {
	background-color: rgba(178, 139, 152, 0.4);
	
}

#main-nav.scroll a {
	color: #1D1D21;
}

#main-nav.scroll a:hover {
	color: #777777;
}

/* Section Header */

#main-header {
	background-image: url(../img/abstract-1845397_1920.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	height: 100vh;
}

#main-header .header-caption {
	text-align: center;
	color: #1D1D21;
	top: 50vh;
	position: absolute;
	margin-left: 50%;
}

#main-header .header-caption h1 {
	font-size: 3em;
}

#main-header .header-caption h2 {
	font-size: 2em;
}

/* Section About */

#about {
	background-color: #F5F5F5;
}

#about .about {
	padding: 25px;
	text-transform: lowercase;
}

#about .about-section {
	width: 230px;
	list-style-type: none;
	margin-top: 13px;
    margin-left: 65px;
    padding: 10px;
}

#about .about-education {
	width: 305px;
	list-style-type: none;
	margin-top: 13px;
    margin-left: 25px;
    padding: 10px;
}

#about .about h2 {
	transition: all .3s;
}

#about .about h2:hover {
	cursor: n-resize;
	color: #B28B98;
}



